.header {
    /* display: flex;
    align-items: center; */
    /* font-weight: bold; */
    /* background-color: gray; */
    /* padding-left: 2px;
    padding-right: 2px; */
    /* border-radius: ; */

}

/* .header nav {
    margin-left: 300px;
    border: 2px solid red;
    width: max-content;
}

.header>nav a {
    padding-left: 20px;
} */